<div class="card border-primary mb-3">
    <div class="card-header">Clientes</div>
    <div class="card-body text-primary">
        <h5 class="card-title">Listado de clientes</h5>
        <table class="table table-bordered table-striped text-primary">
            <thead>
                <tr>
                    <th>Número</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Correo</th>
                    <th>Fecha</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let client of clients">
                    <td>{{ client.id }}</td>
                    <td>{{ client.name }}</td>
                    <td>{{ client.firstname }}</td>
                    <td>{{ client.email }}</td>
                    <td>{{ client.creatAt }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>